<%- include("header.ejs") -%>

<div class="box" id="heading">
  <h1>
    <!-- listTitle is an EJS marker -->
    <%= listTitle %>
  </h1>
</div>

<div class="box">
  <ul>
    <!-- This line is a scriplet -->
    <!-- A scriplet is an EJS tag that allows to add control loops in html. -->
    <% newListItems.forEach(function(item) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item.id%>" onchange="this.form.submit()">
        <p>
          <%= item.name %>
        </p>
      </div>
      <!-- Using a hidden input to be able to detect the list from where the item is being deleted. -->
      <input type="hidden" name="listName" value="<%=listTitle %>"></input>
    </form>
    <% })%>
    <!-- This line is a scriplet -->
  </ul>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer.ejs") -%>
